#buttons {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  display: flex;
  flex: center;
  align-items: center;
  justify-content: space-around;
}
button {
  width: 163px;
  height: 46.06px;
  background: rgba(199, 248, 60, 0.6);
  border-radius: 20px;

  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid rgba(199, 248, 60, 0.6);
}

button:hover {
  /*width: 163px;
  height: 46.06px;*/
  background: #d2fba4;
  border: 2px solid #c7f83c;
  box-sizing: border-box;
  border-radius: 20px;
}
button:active {
  border: 2px solid #1d741b;
}
.separator {
  width: 0px;
  height: 60px;
  border: 1px solid #000000;
}