/*Header and margin layout*/

/*style of the three top buttons*/

#buttons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  display: flex;
  flex: center;
  align-items: center;
  justify-content: space-around;
}
/*
button {
  width: 163px;
  height: 46.06px;
  background: rgba(199, 248, 60, 0.6);
  border-radius: 20px;

  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid rgba(199, 248, 60, 0.6);
}

*/
button:hover {
  background: #d2fba4;
  border: 2px solid #c7f83c;
  box-sizing: border-box;
}
button:active {
  border: 2px solid #1d741b;
}

.separator {
  width: 0px;
  height: 60px;
  border: 1px solid #000000;
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

/*margin intro and title style*/
.margin{
  position: fixed;
  min-width:0vw;
  max-width:15vw;
  height:100%;
  background-color:whitesmoke;
  top:0%;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

/*left margin*/
.left{
  left:0%;
}

/*right margin*/
.rigth{
  right:0%;
}
p{
  text-align:justify;
  font-family: Reem Kufi;
}
.intro{
  position: relative;
  left:15%;
  width:70%;
  height:30%;
  padding-bottom:5%;
}
.title{
  padding-top:5%;
  padding-bottom:0%;
}

/*Questionaire styling*/

/*
#questions {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 80%;
  display: flex;
  flex: center;
  align-items: center;
  flex-direction: column;
}
.question{
  width:100%;
  display: flex;
  flex: center;
  align-items: center;
  flex-direction: column;
}
*/

.radio_group {
  position:relative;
  left: auto;
  display: flex;
  flex: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 7px;
}
.circle{
  background-color:blue;
  margin:1%;
}

/* stat-box style */

.inactive {
  animation-name:grow;
  animation-duration:1s;
  animation-fill-mode:reverse;
  display:none;
}
.active {
  display: block;
  position:relative;
  animation-name: grow;
  animation-duration:1s;
  animation-fill-mode:forwards;
  }
.bar{
  min-width:10px;
  max-width:40px;
  background: rgba(241, 192, 185, 0.74);
  fill:#F1C0B9;
}
.bar:hover{
  fill:gold;
}
.stats {
  width: 100%;
  background: rgba(199, 248, 60, 0.17);
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.graph{
  opacity:0;
  position:absolute;
  top:20%;
  width:50%;
  left: 10%;
  animation-name: fade-in;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode:forwards;
}
.info_box{
  position:absolute;
  left:70%;
  top: 20%;
  width: 20%;
  height: 25%;
  min-width: 50px;
  min-height:50px;
  background-color:whitesmoke;
  border: 1px solid #000000;
  display:flex;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode:forwards;
}
.axis{
  bottom:3%;
  height:100%;
  transform:translate(4%,0%);
}
.custom_grid{
  opacity:0.2;
}
  .up_arrow{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:50px;
    bottom: 0%;
    left:50%;
    background-color:white;
    box-shadow:  0 0 2px 1px rgba(0, 0, 0, 0.3);
    transform: translate(-50%,50%) rotate(-90deg) ;
    padding:5px;
  background-position: center;

}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.text-time{
  width:100%;
  height:100%;
  transform:translate(0,-30%);
  position:absolute;
  font-size: 50px;
  text-align:center;
}
.text-time-explanation{
  position:relative;
  top:100%;
}


/*final result display */

.submit-button{
  /*
  border-radius: 0px;
  left :50%;
  */
  transform:translate(0,100%);
}

.submit-display{
  top:10%;
  position:fixed;
  width:80%;
  height:80%;
  background-color: rgba(199, 248, 60, 1);
  align-self:center;
  border: 5px solid black;
}

.submit-text{
  position: relative;
  width:100%;
  text-align:center;
  top:30%;
}

.submit-country{
  color:rgba(0,0,0,0);
  position: relative;
  width:100%;
  text-align:center;
  top:20%;
  font-size: 100px;
  animation-name: country;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-delay:1s;
}


/*Animations*/
@keyframes grow {
    0% {
      height: 0px;
      background: white;
    }
    100% {
      height: 400px;
      background: rgba(199, 248, 60, 0.17);
    }
}


@keyframes rotate_element{
  100%{
    transform:rotate(85deg);
  }
}
@keyframes translate_element{
  100%{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@keyframes add_outlines{
  0%{
    stroke: #000000;
    stroke-width:1px;
  }
  100%{
    fill:;
    stroke: #006600;
    stroke-width:5px;
  }
}
@keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@keyframes country{
  10%{
    color:pink;
  }
  25%{
    color:navy;
  }
  50%{
    color: gold;
  }
  75%{
    color:blue;
  }

  100%{
   color:orange;

  }
}

/*resize */
@media screen and (min-width: 800px) {
  .margin {
    width:40%;
  }
  #buttons{
    width: 70%;
  }
  .stats{
    width:80%;
    }
  .intro{
    width:40%;
    left:30%;
  }

  @media screen and (max-width: 992px) {
  .margin {
    width:5%;
    }
    .stats{
    width:100%;
    }
  }
}
@media screen and (min-width: 800px) {
  .stats{
    width:80%;
  }
}
