/*Header and margin layout*/

/*style of the three top buttons*/

#buttons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  display: flex;
  flex: center;
  align-items: center;
  justify-content: space-around;
}

.separator {
  width: 0px;
  height: 60px;
  border: 1px solid #000000;
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}


/*left margin*/
.left{
  left:0%;
}

/*right margin*/
.rigth{
  right:0%;
}
p{
  text-align:justify;
  /*font-family: Reem Kufi;*/
}
.intro{
  position: relative;
  left:15%;
  width:70%;
  height:30%;
  padding-bottom:5%;
}
.welcome{
  padding-top:5%;
  padding-bottom:0%;
}
