#background{
 position: relative;
width: 1440px;
height: 1024px;

background: linear-gradient(180deg, #D2FBA4 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

#buttons{
  
  position: relative;
  top: 67px;
  margin-left: auto;
  margin-right: auto;
  width: 1039px;
  height: 336px;
  display : flex;
  flex : center;
  align-items: center;
  justify-content: space-around;
  
}
button{
  width: 163px;
  height: 46.06px;
  background: rgba(199, 248, 60, 0.6);
  border-radius: 20px;
  
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid rgba(199, 248, 60, 0.6);
}

button:active {
  /*width: 163px;
  height: 46.06px;*/
  background: #D2FBA4;
  border: 2px solid #C7F83C;
  box-sizing: border-box;
  border-radius: 20px;
}
h3{
  width: 156px;
  height: 201px;
  font-family: KoPub Batang;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.separator{
  width: 0px;
  height: 152.5px;
  border: 1px solid #000000;
}
h1{
  
  font-family: Reem Kufi;
  position: relative;
  top: 67px;
  text-align: center
}
h2{
  font-family: Reem Kufi;
  position: relative;
  top: 67px;
  text-align: center
}