@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

* {
  margin: 0;
  padding: 0;
}

/* style for country selection object*/

#stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*font-family: 'Ek Mukta';*/
  font-family : 'Nunito';
  font-weight: 600;
}

#statstitle {
  margin-bottom: 20px;
  font-size: 2.5rem;
  max-width: 500px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5;
  font-family: 'Nunito';
  text-transform: capitalize;
  font-weight: 800;
  color: white;
}
#effect1 {
  color: #4F8AAD;
}

#statsform {
  position: relative;
  width: 18rem;
}

.country,
.country_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.country {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 15.5px;
  background-color: #FAFCFD;
  border: 3px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 0;
  margin-left: 0px;
  box-sizing: border-box;
}
.country::-webkit-input-placeholder {
  color: #333;
}
.country:hover {
  background-color: #4F8AAD;
  cursor: pointer;
}
.country:hover::-webkit-input-placeholder {
  color: #333;
}
.country:focus, .country.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #4F8AAD;
  color: #000;
}
.country:focus::-webkit-input-placeholder, .country.open::-webkit-input-placeholder {
  color: #000;
}

.country_list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.country_list.open {
  max-height: 320px;
  overflow: auto;
}
#statsli {
  position: relative;
  height: 4rem;
  background-color: #FAFCFD;
  padding: 1rem;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 1;
}
#statsli:hover {
  background-color: #4F8AAD;
}
#statsli.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}


/* style for question selection object*/
#navstats {
  width: 100%;
  margin-top: 7px;
}

#question{
  margin-left: 7px;
}
nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;

}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }

menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav > menu > menuitem menuitem menu {
   transform:translateX(100%);
   top:0; right:0;
}

.fixed{
  width:190px;
  max-width: 190px;
}

.expand{
  animation-name : grow;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
.unexpand{
  animation-name : grow;
  animation-duration:1s;
  animation-direction: reverse;
}
@keyframes grow {
    0% {
       max-width: 190px;
       width: 600px;

      color: rgba(0,0,0,0);
    }
    95%{
      color;rgba(0,0,0,0);
    }
    100% {
      max-width: 100%;
      width: 600px;
      background: gold;
    }
}

nav a {
   background:#4F8AAD;
   color:#FFF;
   min-width:190px;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   margin:0px 6px 6px 0px;
   padding:20px 40px;
   box-sizing:border-box;
   border-radius:3px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   position:relative;
}

nav a:hover:before {
   content: '';
   top:0;left:0;
   position:absolute;
   background:rgba(0, 0, 0, 0.2);
   width:100%;
   height:100%;
}

nav > menu > menuitem > a + menu:after{
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-top: 10px solid white;
   left:12px;
   top: -40px;
}
nav menuitem > menu > menuitem > a + menu:after{
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-left: 10px solid white;
   top: 20px;
   left:-180px;
   transition: opacity 0.6, transform 0s;
}

nav > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateY(150%);
   opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateX(195px) translateY(0%);
   opacity: 0;
}
menuitem > menu > menuitem:hover > menu > menuitem,
menuitem > menu > menuitem.hover > menu > menuitem{
   transform:translateX(0) translateY(0%);
   opacity: 1;
}


.main-content {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  cursor: pointer;
}

h1 {
  position: center;
  color: #fff;
  font: 200 30px Nunito;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  letter-spacing: 25px;
}

.concept {
  position: relative;
  padding: 5em;
  height: 100%;
  scroll-snap-align: center;
}

.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(#2F4A6D, transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}
